[2020-11-16 18:37] samreid opened #4 "Support nonlinear transforms in each dimension"
In discussion with @jonathanolson in https://github.com/phetsims/griddle/issues/86#issuecomment-727100739, we agreed that our charting library should be able to represent nonlinear transforms for the data.  For instance, this would allow us to show log plots.  We don't have an immediate need for this feature right now, but would like to make sure we don't paint ourselves into a corner in the futur

[2020-11-20 12:34] samreid opened #1 "Copy current draft from griddle"
From https://github.com/phetsims/griddle/issues/90, we would like to copy the current draft from griddle, keeping history if possible.

[2020-11-20 13:47] samreid opened #2 "Add documentation"

[2020-11-21 00:32] samreid commented on #1
Bamboo is not appearing in phetmarks, though it does look like pm2 generate-data is running on bayes.  I tried running generate-data.sh manually from the admin account, but I had to chmod +x and commit it first.

[2020-11-21 02:24] samreid opened #3 "Support nonlinear transforms"
Currently ChartModel only supports a linear transform, specifying xRange and yRange.  We don't have immediate needs for a nolinear tranform, such as a log plot, but we would like to not be painted into a corner.

[2020-11-22 03:09] samreid commented on #2
I added documentation, closing.

[2020-11-22 03:09] #2 closed

[2020-11-22 03:11] samreid commented on #3
The Google Charts API is specified here: https://developers.google.com/chart/interactive/docs/customizing_axes#axis-scale

[code]

It looks like this is independent of the model range.

[2020-11-22 03:51] samreid commented on #3
Something simple like this may work:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/679486/99893288-4c50fa00-2c3b-11eb-9259-db81d624812c.png)

[2020-11-22 03:51] samreid commented on #4
Closing as a duplicate of #3

[2020-11-22 03:51] #4 closed

[2020-11-22 03:52] samreid commented on #1
It is listed on phetmarks now, closing.

[2020-11-22 03:52] #1 closed

[2020-11-22 16:44] samreid commented on #3
I added a draft of support for this, and the demo looks like this:

![image](https://user-images.githubusercontent.com/679486/99909628-ed28cf00-2ca6-11eb-8dbf-9d9809598b99.png)
![image](https://user-images.githubusercontent.com/679486/99909632-f3b74680-2ca6-11eb-91c1-13c000563bc3.png)

We do not have a simulation that requires these features at the moment, but it would be nice to make sure bamboo

[2020-11-23 21:48] samreid opened #5 "Some gridlines get out of bounds"
From https://github.com/phetsims/griddle/issues/92 some gridlines get out of bounds:

![image](https://user-images.githubusercontent.com/679486/100017648-78ce5880-2d98-11eb-80ee-6fc159bab498.png)

[2020-11-23 21:50] samreid opened #6 "Port SpanNode to bamboo"
From https://github.com/phetsims/griddle/issues/92, SpanNode does not have a replacement, and has immediate need for use.  Instead of deprecating it, let's move it to bamboo.

[2020-11-23 22:19] samreid commented on #5
Fixed, closing.

[2020-11-23 22:19] #5 closed

[2020-11-23 22:44] samreid commented on #6
Fixed, closing.

[2020-11-23 22:44] #6 closed

[2020-11-30 16:12] samreid opened #7 "How should bamboo support a categorical (as opposed to numerical) bar chart?"
At the moment, bamboo only supports a numerical bar chart (where the bars appear at numerical locations).  How should it support categorical bars?  When is the first sim we will need this feature?

[2020-12-01 01:30] pixelzoom opened #8 "missing features in TickMarkSet"
TickMarkSet current lacks the ability to change spacing, which is part of the API for GridLineSet and LabelSet (see `setSpacing`).    It also doesn't implement `dispose`, and will leak a listener attached to `chartModel`.

I need this functionality in Fourier, where grid/ticks/labels change based on zoom level.   So I took a stab at correcting this -- add a `setSpacing` method, factor out `updateT

[2020-12-01 01:39] pixelzoom opened #9 "How should tick marks look around the edges of the graph?"
When tick marks are added around the edge of the graph (option `edge: 'min'` or `edge: 'max'`), should they extend into the interior of the graph, like bamboo currently does?  Example from Fourier:

<img width="184" alt="screenshot_704" src="https://user-images.githubusercontent.com/3046552/100686286-3d550080-333b-11eb-8018-a53eea0d0b0b.png">

Or should the be fully outside the graph? Example from

[2020-12-01 03:48] samreid commented on #9
We can use the z-ordering to achieve this look without introducing more options or more complicated code.  For instance, moving 2 lines of code in DemoHarmonicsChart it can look like this:

![image](https://user-images.githubusercontent.com/679486/100694902-45b63700-334d-11eb-9b0d-8ede7500a724.png)

<details>

[code]

</details>

[2020-12-01 04:01] samreid commented on #8
LabelSet needs a cache to avoid recreating label nodes, it is not necessary for TickMarkSet, and I removed it in the commit.  Next I'll look at adding `setSpacing`.

[2020-12-01 04:02] pixelzoom commented on #9
👍🏻 closing.

[2020-12-01 04:02] #9 closed

[2020-12-01 04:14] samreid commented on #8
I added TickMarkSet.setSpacing and tested with this code in DemoHarmonicsChart:

[code]

I also added dispose.  @pixelzoom can you please review?

[2020-12-01 17:22] pixelzoom commented on #8
Looks good, and tested in Fourier. Closing.

[2020-12-01 17:22] #8 closed

[2020-12-09 18:39] pixelzoom opened #10 "Plot enhancements"
Enhancements for "plots", motivated by using plots in Fourier:

- [x] (1) Add `setData` method
In Fourier, I'd like to statically create 11 `LinePlot` instances that correspond to the 11 harmonics in the Fourier series.  But LinePlot's data set is currently not mutable. Since other components are mutable, and LabelSet goes even further by caching, it certainly seems like LinePlot (and ScatterPlot

[2020-12-09 19:07] pixelzoom commented on #10
(5) Revise option `valueToColor` in BarPlot.
Currently: `valueToColor: ( x, y ) => 'blue'`
This doesn't make a lot of sense to me, since "value" is one of the elements in `{Vector2} data`.  Better would be:
`vectorToColor: vector => 'blue'`

[2020-12-09 19:10] pixelzoom commented on #10
- [ ] (6) Rename `this.nodes` to `this.lines` in BarPlot
They are instances of `Line`, and the update method calls `setLine`.

[2020-12-09 19:21] pixelzoom commented on #10
- [ ] (7) Rename "data" to "points"
Partway through the above commits, I realized that "points" was a better name for a collection of `Vector2`.  Rename `this.data` to `this.points`, `setData` to `setPoints`, and  BarPlot `vectorToColor` to `pointToColor`.

[2020-12-09 19:26] pixelzoom commented on #10
Oh dear. I just discovered CanvasLinePlot, which for some reason has constructor param `{Vector2[][]} dataSets`, a 2D array. It's also missing `dispose` and not structured like the other "plot" classes.   It also makes me thing that "dataSet" might be a better name than "points" or "data" in the other plot classes.

[2020-12-09 19:55] pixelzoom commented on #10
`CanvasLinePlot` is now up to speed with other "plot" classes.  "data" is now "dataSet" throughout.

[2020-12-09 19:57] pixelzoom commented on #10
- [ ] (8) For performance, make `this.dataPoints` public.  Client is responsible for calling `update`.
@samreid pointed this out in Slack, to support cases like:

[code]

It's still useful to have `setDataSet`, and preferable to doing this:

[code]

[2020-12-09 20:02] pixelzoom commented on #10
The only enhancement I haven't completed is:

There are 3 problems here:
(1) The plot classes extend different superclasses. This could be resolved using composition and making them all extend Node.
(2) The `update` method is abstract (each subclass has a specific implementation), and `update` is called by the superclass constructor.  I don't see a good way around this.
(3) CanvasLinePlot has a di

[2020-12-10 02:10] samreid commented on #10
I reviewed the existing changes and they look good.  Regarding factoring out a base class for plots, it sounds like we are considering something like this.  This would work for the "path" based plots LinePlot and ScatterPlot: (comments removed for succinctness)

[code]

I don't see a significant advantage in factoring out such a small amount of non-complex code, especially since there is no clear

[2020-12-10 21:51] pixelzoom commented on #10
Agreed, let's not pursue the base class. Closing.

[2020-12-10 21:51] #10 closed

[2020-12-10 22:50] pixelzoom opened #11 "clippingType bug in GridLineSet"
In GridLineSet.js:

[code]

Line 41 looks like a bug, and `this.clippingType` is undefined on line 57.

Should line 41 be this?

[code]

Looking at other bamboo classes....  They have `this.clippingType = options.clippingType`, which is used in their update call when calling `this.chartModel.forEachSpacing`.   Is that what was intended here?

[2020-12-10 22:52] pixelzoom commented on #11
Fixed in above commit, @samreid please review.

[2020-12-10 22:59] samreid commented on #11
Looks good, thanks for fixing it, closing.

[2020-12-10 22:59] #11 closed

[2020-12-10 23:12] pixelzoom opened #12 "bamboo cleanup"
A bunch of misc things to clean up:

- [x] Several `dispose` methods are documented incorrectly, missing `@overrides`.

- [x] ChartModel leaks memory, needs to implement `dispose` and handle `this.transformChangedEmitter`.

- [x] AxisNode leaks memory, needs to override `dispose`.

- [x] ChartRectangle leaks memory, needs to override `dispose`.

- [x] LabelSet and SpanNode set `this.children` with

[2020-12-10 23:22] pixelzoom commented on #12
Done, @samreid please review.

[2020-12-10 23:46] pixelzoom opened #13 "TODO: LabelSet extent"
Address this TODO in LabelSet.js:

[code]

I'll start by assigning to @samreid. Happy to discuss, but I'm not quite sure what's going on here.

[2020-12-10 23:48] pixelzoom opened #14 "TODO: renders 2x/frame ..."
In LinePlot.js and ScatterPlot.js:

[code]

Assigning to @samreid for discussion.

[2020-12-10 23:51] pixelzoom opened #15 "TODO: what if the chart area changes"
In DemoCanvasLinePlot.js and DemoLinePlot.js:

[code]

[2020-12-10 23:58] pixelzoom commented on #15
If the view dimensions of the ChartModel were to change, by using `setWidth` or `setHeight`, then you'd adjust the `clipArea` like this:

[code]

That's pretty standard/straightforward, so I think we can simply delete these TODOs.

@samreid you thoughts?

[2020-12-11 00:08] pixelzoom opened #16 "improve CanvasLinePlot API"
CanvasLinePlot is a high-performance way of drawing multiple plots using CanvasNode.   Some issues with the API:

(1) The name is CanvasLinePlot (singular), when it's capable of drawing multiple plots. Rename to CanvasLinePlots (plural)?

(2) The style (stroke, lineWidth,...) of the plots is hardcoded, and all of the plots are rendered in the same style. The API needs a way to describe the style _

[2020-12-11 00:35] pixelzoom commented on #16
How about something like this?

[code]

[2020-12-11 00:36] samreid commented on #16
I have a more general proposal that will be ready to share shortly.

[2020-12-11 00:53] pixelzoom commented on #16
@samreid and I discussed his more general approach on Slack.  Basically a ChartCanvasNode that extends CanvasNode, has the view bounds of the ChartModel, and can draw a set of CanvasPaintables (or whatever they were called :)  that implenment `paintCanvas( context )`.  This approach looks really nice, definitely superior to my above proposal, and @samreid will continue to flesh it out.

[2020-12-11 13:50] samreid opened #17 "ChartCanvasLinePlot should support "holes" in the data"
LinePlot supports missing data like so:

[code]

It seems ChartCanvasLinePlot should support it too, so it is easy to switch between plot types.

Discovered in #16

[2020-12-11 13:50] samreid commented on #16
I committed a first draft of this, @pixelzoom can you please review and test at your convenience?

[2020-12-11 14:00] samreid commented on #15
The main question for me is if we should provide a bamboo type like `ChartClipNode` which automatically does that.

[2020-12-11 15:32] samreid commented on #12
I reviewed the changes and didn't have any recommendations, thanks!  Closing.

[2020-12-11 15:32] #12 closed

[2020-12-11 17:29] pixelzoom commented on #15
I can't recall implementing a sim chart whose view bounds change, so I doubt that `ChartClipNode` would get much use. But feel free to add it now if you'd like, or wait until it's needed.  Up to you...

[2020-12-11 17:32] pixelzoom commented on #17
This feature also needs to be documented in LinePlot.  I didn't know this feature existed, and would only have discovered it by reading the implementation of `updateLinePlot`.

[2020-12-11 17:34] pixelzoom commented on #16
@samreid your thoughts on this?

[2020-12-11 17:39] samreid commented on #16
`ChartCanvasLinePlot` renders one data set.  `ChartCanvasNode` renders multiple `CanvasPainter` instances.

[2020-12-11 17:42] pixelzoom commented on #16
Got it, thanks for clarifying.

[2020-12-11 18:19] pixelzoom opened #18 "rename ChartModel to ChartTransform, and other enhancements"
@samreid and I decided that ChartTransform is a more appropriate name, since (a) it defines the model and view coordinate systems, and the methods to transform between them, and (b) in keeping with bamboo philosophy of "small components" it will keep responsibilities limited to this transform.

<details>
<summary>Slack discussion</summary>

Chris Malley  11:07 AM
Wondering if ChartModel should be

[2020-12-11 18:45] pixelzoom commented on #18
In above commits:
* renamed ChartModel to ChartTransform
* renamed chartModel to chartTransform throughout bamboo and clients

This looks so much nicer to me in context.

Over to @samreid to take a peek, feel free to close.

[2020-12-11 19:50] pixelzoom commented on #18
A couple of other suggestions for ChartTransform:

* Rename `width` and `height`  to `viewWidth` and `viewHeight`, so that names are qualified for both model and view.

* Can `width` and `height` be moved to options?  It would make call sites clearer.  Or maybe I don't understand why it OK to have defaults for `modelXRange` and `modelYRange` but not the view quantities?

[2020-12-11 20:08] pixelzoom commented on #18
Another suggestion...

`link` and `unlink` seem like the wrong API for ChartTransform.  `link` is specific to Property, and what this actually does is add a listener to an Emitter, which is typically done via `addListener`.  Similarly for `unlink`, which actually does a `removeListener`.  So `link` and `unlink` seem "off" for this API.

Let's rename `this.transformChangedEmitter` to `this.changedE

[2020-12-11 20:23] pixelzoom commented on #18
Why do we need that? This is an Emitter, why don't we use the same API as Emitter?

[2020-12-11 20:25] pixelzoom commented on #18
100% of the calls to `chartTransform.link` are in constructors for bamboo components, and look like this:

[code]

The revised API would look like this:

[code]

[2020-12-11 20:38] pixelzoom commented on #18
If we're going to sick with `link`, then we need `lazyLink`.   Similar to use of Property lazyLink, if my chart component is initialized properly, why do I need to do unnecessary work when linking to a ChartTransform?

[2020-12-11 20:41] pixelzoom commented on #18
`this.transformChangedEmitter` is currently `@public`.  Assuming that was an intentional choice... If we're going to expose that this is an Emitter, why bother with link and unlink?

[2020-12-11 20:48] pixelzoom commented on #18
Renaming `transformChangedEmitter` to `changedEmitter` doesn't seem controversial, so I did so in the above commit.

I think we should delete the `link` and `unlink` methods, and (since it's public) have clients use `this.changedEmitter` directly.

[2020-12-11 20:51] samreid commented on #18
Yes, that's true at the moment, but I expect the proliferation of many sim-specific bamboo components, so we should choose something that is clear and can be widely used.

I didn't feel like `link` was a great fit for it, but I did like pairing together the `addListener` and `listener()` call was a nice step.  But maybe it is not necessary, or maybe there is a better way to accomplish it.

That's

[2020-12-11 20:55] pixelzoom commented on #18
Another suggestion for improvement...

"X" and "Y" appear throughout the API and mean horizontal and vertical respectively. `modelXRange`, `modelYRange`, `xScale`, `yScale`, and their setters and getters.  So I don't see the advantage in having methods that require an Orientation, like:

[code]

The first thing they do is map to some public "X" or "Y" field (in this case `modelXRange` or `modelYRa

[2020-12-11 20:57] samreid commented on #18
There are 7 call sites where the dimension is a variable like so:

[code]

How do you recommend to write those 7 call sites?

[2020-12-11 21:15] pixelzoom commented on #18
In the above commit:

* Deleted ChartTransform `link` and `unlink` and access `this.changedEmitter` directly in clients.
* Renamed `update{{CLASS_NAME}}` method to `update`, so that naming is consistent throughout bamboo.

[2020-12-11 21:16] pixelzoom opened #19 "SpanNode doesn't listen for ChartTransform changes"
Shouldn't SpanNode listener to ChartTransform changedEmitter, and update itself, like other bamboo components?

[2020-12-11 21:37] pixelzoom commented on #16
@samreid FYI, a few changes in the above commits.

`ChartCanvasLinePlot` had a broken `dispose` method, looked like a copy-paste from `LinePlot`, so I deleted it.

`ChartCanvasLinePlot` didn't seem like the correct name, so I renamed to `CanvasLinePlot` --- the Canvas version of `LinePlot`.

`ChartCanvasNode` doesn't strike me as the best name, but I haven't thought of a better one yet.  We want a

[2020-12-11 21:40] pixelzoom commented on #16
One more thing that I changed accidentally (playing around) and reverted...

`ChartCanvasLinePlot` does not support {ColorDef} for options.stroke.  In Fourier, the line plot colors are Properties, and are update dynamically.

[2020-12-11 21:49] pixelzoom commented on #16
Hmm... `ChartCanvasLinePlot` apparent doesn't even support `{Color} stroke`.   So I had to convert my colors to `Color` for PhET-iO, then convert them back to CSS for `ChartCanvasLinePlot`.

Which parts of `{ColorDef}` should `ChartCanvasLinePlot` support?

[2020-12-11 21:51] samreid commented on #16
How about adding `ColorDef.toCSS` for starters?  I'm not sure about listening for changes if it is a property--doesn't seem the responsibility of CanvasLinePlot.

[2020-12-11 21:56] pixelzoom commented on #16
I had hoped to use this to improve performance in Fourier, especially while animating in "space & time" domain). But when adjusting amplitudes with sliders (for example) using CanvasLinePlot requires redrawing all of the plots that are managed by the CanvasChartNode. LinePlot allows me to redraw only the plot that is changing.  So I'm not sure that this is going to be a "win".

[2020-12-11 22:02] samreid commented on #16
* First of all, calling `paintCanvas` on many curves is much faster than changing a LinePlot path shape and re-rendering it.
* Secondly, in Fourier (at least in Java), in the "space and time" harmonics chart, all curves are moving (not just one).

[2020-12-11 22:16] pixelzoom commented on #16
Indeed, it's not an issue when all of the curves are animating, because they all need to be redrawn. I said it's an issue "when adjusting amplitude with a slider", which requires updating 1 plot.   And to be clear, I'm still going down this path, just didn't realize that if any plot changes, I have to redraw all plots.

[2020-12-11 22:18] pixelzoom commented on #16
Indeed, it's not a problem when all of the curves are animating, because they all need to be redrawn. I said it's an issue "when adjusting amplitude with a slider", which requires updating 1 plot.   And to be clear, I'm still going down this path, just didn't realize that if any plot changes, I have to redraw all plots.  That's a significant change in the Fourier code, which is currently optimized

[2020-12-11 22:41] pixelzoom commented on #16
ChartCanvasNode + CanvasLinePlot is much faster than LinePlot in Fourier.

Fourier always has 11 plots (one for each possible harmonic).  Only the relevant ones should be drawn (based on numberOfHarmonicsProperty) and only if their amplitude is !== 0.

Thoughts on how to change the visibility of CanvasLinePlot specifically, and CanvasPainter generally?  Do I need to change ChartCanvasNode `this.pa

[2020-12-11 23:17] pixelzoom commented on #16
Until CanvasLinePlot stroke supports ColorDef, I've added assertion that it must be {string}.

To address the issue of CanvasLinePlot visibility, I've created subclass HarmonicPlot, which adds `this.visible`, then overrides `paintCanvas` like this:

[code]

[2020-12-12 00:31] pixelzoom opened #20 "incomplete comment in ChartTransform"
This incomplete comment followed by blank lines was introduced into ChartModel (now ChartTransform) in 9629ef4cf446cffd065cf16060be24d1dfe41e31:

[code]

I'm not sure how to fix this comment.  @samreid can you please clean this up?

[2020-12-12 00:38] pixelzoom commented on #18
@samreid asked:

I see what you mean.

As a compromise, I've added these convenience methods:

[code]

[2020-12-12 00:40] pixelzoom commented on #18
OK, I think the remaining things to hit in this issue are from https://github.com/phetsims/bamboo/issues/18#issuecomment-743393567:

I'd like to do both of these. @samreid any objections?

[2020-12-12 00:48] pixelzoom commented on #16
This is all working nicely in Fourier, with very excellent performance on my MacBook Pro (MacbookPro16,1), iPad 6, and iPhone 11.

Remaining items for this issue:

- [ ] Support for more than `{string} stroke` in CanvasLinePlot
- [ ] Support for visibility in CanvasLinePlot/CanvasPaintable, or leave it up to clients, as I've done in HarmonicPlot?
- [ ] A better name for ChartCanvasNode

[2020-12-12 02:25] samreid commented on #20
I removed the unnecessary comment fragment, closing.

[2020-12-12 02:25] #20 closed

[2020-12-12 02:28] samreid commented on #18
Renaming to width/height sounds good.

I thought viewWidth and viewHeight should be required since there are no reasonable defaults.  But that would make a more symmetrical API.  I'm not even confident about the default modelXRange and modelYRange.  What about moving the modelXRange and modelYRange to be required parameters?  I don't feel too strongly either way about this.

[2020-12-12 23:36] pixelzoom commented on #18
I would pick one of these:

`new ChartTransform(viewWidth,viewHeight,modelXRange,modelYRange,options)`

`new ChartTransform( {
   viewWidth: ...,
   viewHeight: ...,
   modelXRange: ...,
   modelYRange, ...,
} );
`

In the latter, the parameter could be either `options` or `config`.

Which do you think is clearer?

[2020-12-12 23:38] pixelzoom commented on #18
I would pick one of these:

[code]

[code]

[2020-12-13 00:11] pixelzoom commented on #18
@samreid FYI... A few cleanup-related commits above, before I rename `width` and `height` to `viewWidth` and `viewHeight`.

[2020-12-13 00:52] pixelzoom commented on #18
Renaming of `width` and `height` to `viewWidth` and `viewHeight` was completed in https://github.com/phetsims/bamboo/commit/9a875beeb0a8a1cd1ea190754c9b7bd06856be0f.

The other commits above are documentation.   And d243ca9 is a continuation of what I suggested in https://github.com/phetsims/bamboo/issues/18#issuecomment-743521843.

[2020-12-13 00:58] pixelzoom commented on #18
In the above commit, I took a stab at documenting `forEachSpacing`.  @samreid have a look, feel free to revise.

[2020-12-13 01:00] pixelzoom commented on #18
`axisOrientation` is validated in a few places. I stuck with what was originally in the code, but added an assertion message:

[code]

I'm wondering why you chose to check specific values, instead of this:

[code]

Is there concern that Orientation may someday have values other than HORIZONTAL and VERTICAL?

[2020-12-13 01:15] pixelzoom commented on #18
Re ChartTransform's constructor signature...  I looked at usages of `new ChartTransform`.  Most looked like this one in CCKCChartNode.js:

[code]

If we use constructor parameters, that becomes:

[code]

If we use options:

[code]

For someone reading this code, the options approach is clearly superior.  And I'm not locked into a specific order of arguments -- if I want to specify model before vie

[2020-12-13 01:21] pixelzoom commented on #18
Back over to @samreid for review.  Here's what needs doing:

- [ ] Review misc cleanup commits (if you want to), starting with the ones mentioned in https://github.com/phetsims/bamboo/issues/18#issuecomment-743924069.

- [ ] Review the rename of `viewWidth` and `viewHeight`.

- [ ] Review the documentation for `forEachSpacing`, revise if needed.

- [ ] Decide whether assertion expressions can be c

[2020-12-13 01:22] pixelzoom commented on #19
FYI, there's no SpanNode in Fourier.

[2020-12-13 01:45] samreid commented on #18
No, the `includes` check seems preferable.

[2020-12-13 02:38] pixelzoom commented on #18
Changed to `Orientation.includes` in the above commit.

Final observation... ChartTransform is currently a one-way transform. It supports model-to-view, but not view-to-model. I guess we'll address that when it's needed, like when someone needs to click on a charge and know what the corresponding model point is.

Closing.

[2020-12-13 02:38] #18 closed

[2020-12-14 18:28] pixelzoom commented on #16
I'm not sure that I like adding `link`, `unlink`, and `toCSS` to ColorDef for this.   @jonathanolson could you please weigh in?

[2020-12-14 18:30] pixelzoom commented on #16
I'm not sure that I like adding `link`, `unlink`, and `toCSS` to ColorDef for this.   @jonathanolson could you please weigh in?

And there's still the problem of calling ChartCanvasNode `update` when a CanvasLinePlot's stroke Property changes. I don't think that CanvasLinePlot should be responsible for that, but I'd like to hear what the recommended pattern is.

[2020-12-14 18:31] jonathanolson commented on #16
This looks like a case where PaintColorProperty could be used (similar to how baseColor is handled in buttons), then just link to that in one place.

[2020-12-14 18:44] pixelzoom commented on #19
I just realized that the measurement tools in Fourier will have much in common with SpanNode.  They are like a SpanNode that can be dragged.  So maybe after I've implemented them, I'll take a stab at SpanNode.

[2020-12-14 22:34] pixelzoom commented on #19
SpanNode's width is currently specified in view coordinates:

[code]

Like other bamboo components, the constructor should take model coordinates and a ChartTransform:

[code]
  /**
   * @param {ChartTransform} chartTransform
   * @param {number} modelWidth
   * @param {Node} scaleIndicatorTextNode
   * @param {Object} [options]
   */
  constructor( scaleIndicatorTextNode, width, options )
[code]

[2020-12-14 22:39] samreid commented on #19
I don't think griddle should use ChartTransform--that would amount to doing the same thing in 2 different ways since it already has an independent transform.  Perhaps we should move SpanNode back to griddle as "GriddleSpanNode" and leave it view-based, and create a new SpanNode in bamboo that uses ChartTransform?

[2020-12-14 22:44] pixelzoom commented on #19
OK, I'm going to copy SpanNode.js back to griddle.  Then I'll convert bamboo/SpanNode.js to the pattern used by bamboo components.

[2020-12-14 22:44] samreid commented on #19
Maybe just restore the historical version that is already in the griddle history?

[2020-12-14 23:17] pixelzoom commented on #19
Sorry, I don't have time to restore griddle history.  There were only a few commits before it was moved to griddle.

I've converted SpanNode to the bamboo pattern in my local copy.  But I've run into a new problem.  What SpanNode really cares about is whether the unit delta has changed in ChartTransform.  But ChartTransform is very coarse - you get notified if anything changes.  So (for example) i

[2020-12-14 23:35] samreid commented on #19
SpanNode could keep track of its last value and guard like:

[code]

?

Or what would it look like to have a ChartTransform.horizontalDeltaChangedEmitter?

[2020-12-15 00:17] pixelzoom commented on #19
In the above commits, I change SpanNode to a model-based API, like other bamboo components.   I also added a demo to DemoLinePlot.js.

There are lots of TODOs in the code (with this issue noted), most related to the fact that the implementation was (and still is) specific to the x axis -- there is no support for a SpanNode on the y axis.   I don't have time to address these, so I'll leave it to th

[2020-12-16 20:06] samreid commented on #19
The deltas are indeed caused by floating point errors:

[code]

The guard is working well in CCK for now.  @jonathanolson how do we typically deal with problems like this?  Do other scenery nodes have guards or other preventions against this kind of floating point fluctuation?

[2020-12-16 23:33] pixelzoom commented on #16
I think that @jonathanolson is probably referring to the uses of `PaintColorProperty` in sun `ButtonNode`, see relevant definitions below. But I'm having a hard time apply this to `CanvasLinePlot`.

[code]

[2020-12-16 23:37] pixelzoom commented on #16
I think that @jonathanolson is probably referring to the uses of `PaintColorProperty` in sun `ButtonNode`, see relevant definitions below. But I'm having a hard time relating this to `CanvasLinePlot`.

[code]

I'm also not convinced that we want to introduce PaintDef into `CanvasLinePlot`.  Do we really want to support Gradients and other PaintDefs?

[2020-12-25 03:58] samreid commented on #16
I followed @jonathanolson's recommendation, and it seemed straightforward and a good fit for `CanvasLinePlot`.

<details>

[code]
</details>

This works great in the Bamboo demo for `?component=ChartCanvasNode`.  However, in Fourier HarmonicsChart.js there is a place that sets a stroke value to be a property: `plot.setStroke( plot.harmonic.colorProperty );`, which fails at runtime.

@jonathanolson

[2020-12-28 03:19] samreid commented on #13
I factored out the constant and used it in the label set and tick mark set.  @pixelzoom does this seem good to you?

[2020-12-28 03:57] samreid commented on #14
Since the data sets are now `Vector2[]`, clients could use the following pattern to only `update` once per frame, even if adding a data point and scrolling the chart:

[code]

Does that seem reasonable? In the commit, I added documentation to indicate that is possible.  @pixelzoom does this seem OK to you?

[2020-12-28 18:07] samreid commented on #17
I updated CanvasLinePlot so it skips non-finite data the same way LinePlot does, and I added a note of documentation to each.  @pixelzoom can you please review?

[2020-12-28 18:12] samreid commented on #15
It seems most appropriate to develop this in context, if and when we need it.  Unassigning for now.

[2020-12-29 00:41] pixelzoom commented on #17
This still didn't seem clear to me, so I took a stab at more clarification and examples in the above commit.

In doing this, I also discovered another issue.  A `dataSet` is consistently described as a `{Vector2[]}`:

[code]

But these non-finite values that can be inserted into a data set are _NOT_ Vector2.   So should the type expression throughout be changed to `{Array.<Vector2|number>}`, with

[2020-12-29 00:48] pixelzoom commented on #13
I'm OK with leaving this as is.   But...

I would not have named this `DEFAULT_LABEL_EXTENT`, since it's tick marks (not labels) that have extent, and the tick mark extent determines where the label should be placed.  And rather than put this in BambooConstants.js, I would have created static constant `TickMarkSet.DEFAULT_EXTENT`, and used that value in LabelSet.

If you do leave it as is, I'd rec

[2020-12-29 00:50] pixelzoom commented on #14
Sounds reasonable to me. Minor typo in doc fixed in the above commit.  Closing.

[2020-12-29 00:50] #14 closed

[2020-12-29 01:01] pixelzoom commented on #16
I was thinking that it would be nice if `CanvasLinePlot` supported the same types of "color" values as `LinePlot`.  Since `LinePlot extends Path`, that includes `stroke: someColorProperty`.    But since `CanvasLinePlot` has no way to notify its associated `ChartCanvasNode` that a color Property has changed, maybe we don't want to support color Property in `CanvasLinePlot`, and require clients to m

[2020-12-29 02:32] samreid commented on #17
The current implementation only supports `Vector2[]` and uses `Vector2.isFinite()` to determine if a value will be rendered or not.  This is a natural fit for time series data, where one dimension is known and one may be undefined, such as `new Vector2(7.5, NaN)`.  This strategy is used in both Wave Interference and Circuit Construction Kit.  For bamboo it doesn't seem important to know that a mea

[2020-12-29 02:36] samreid commented on #13
Sounds good, I moved the constant to `TickMarkSet.DEFAULT_EXTENT`, ready for re-review.

[2020-12-29 04:17] pixelzoom commented on #17
Ah, I see -- `this.dataSet[ i ].isFinite()` still involves a Vector2.  Thanks for clarifying.  I've fixed the doc in the above commit.

It seems odd (and as I've unintentionally demonstrated, confusing) to have to create a non-finite Vector2 instance -- and either know or investigate how Vector2 `isFinite` is implemented.  Using `null` seem clearer, easier to explain, and creates fewer objects.  I

[2020-12-29 04:26] pixelzoom commented on #13
Looks good.

One nit in the above commit.  Documenting as "static" is a bit redundant, and I haven't been doing so for static constants (for the same reason as `static` methods).  But `@static` is preferrable to "static".

Closing.

[2020-12-29 04:26] #13 closed

[2020-12-29 18:04] samreid commented on #17
I revised the documentation as recommended, and converted to use `null` instead of non-finite `Vector2` for the data.  I found that CCK was using these renderers from bamboo, but Wave Interference is not, so Wave Interference didn't need to be updated.  I was concerned there would be a problem in CCK because it used the "time" value of a non-finite Vector2 to know when to remove a data point from

[2020-12-29 18:39] samreid commented on #16
I think the recommendation from the preceding comment is good, I considered the alternative of making the CanvasLinePlot aware of its associated `ChartCanvasNode`(s) or vice-versa. I'm happy to apply the patch from https://github.com/phetsims/bamboo/issues/16#issuecomment-751163054.  Would you like me to update Fourier as described in https://github.com/phetsims/bamboo/issues/16#issuecomment-75191

[2020-12-29 22:05] pixelzoom commented on #16
Sounds good. There will be some stuff removed from ColorDef too, correct?  Yes please update Fourier.

[2020-12-29 22:09] pixelzoom commented on #17
Looks good, thanks for handling.  Closing.

[2020-12-29 22:09] #17 closed

[2021-01-05 00:53] jonathanolson commented on #19
Scenery Node's bounds do have a notification guard, currently set at:
[code]
in Node's validateBounds.

If the change in bounds is below the threshold, it won't notify. Does that work here?

[2021-01-05 03:25] samreid commented on #19
Just a quick note for when I return to this issue:
[code]

[2021-01-06 13:22] samreid commented on #16
In the commits I converted `CanvasLinePlot` to use `PaintColorProperty` and updated Fourier accordingly.  I split up the update function so that the strokes could be updated independently.  It appeared to be working properly in my testing, but I am not fully familiar with this sim, so please test again.  These commits are ready for review.

The additions made to ColorDef seem like they may one day

[2021-01-06 16:18] samreid commented on #19
Since this guard is the same one we rely on in scenery, it seems acceptable to me.  I think the cutoff of 0.25 should be reduced to 1E-13 or so, since the span node may not be in pixels (may be transformed).  Normally I would have suggested `Number.EPSILON` but that is `2.220446049250313e-16` and we would like a number greater than `5.684341886080802e-14` at least for CCK's case.

[2021-01-06 16:39] pixelzoom commented on #19
Scenery's threshold (1e-13) seems like a fine default.  Should ChartTransform have an option that allows you to change that default, in case it doesn't work for some specific transform?

[2021-01-06 17:13] pixelzoom commented on #16
If you're not familiar with a sim, it's generally not a good idea to change logic that you don't need to touch.
In this case, stroke and lineWidth are never to be updated independently, they always update together.  This change was unnecesary and undesirable. More importantly, it's making it difficult for me to identify what was actually necessary to change.

[2021-01-06 17:20] samreid commented on #16
Are you saying that if a `harmonicPlot.colorProperty` changes, you would like to set the strokes to their current values?  I'm happy to recombine the updates if you think it's better for the sim, reassign me if you would like me to do something like that.

[2021-01-06 17:26] pixelzoom commented on #16
Yes. Reverted in the previous commit.

Reviewing the changes to CanvasLinePlot.

- [ ] setStroke is missing doc for `@param stroke`.  What types are acceptable for stroke - ColorDef, PaintDef, some subset? Since you're using PaintColorProperty, I would have expected this to be OK:

` plot.setStroke( plot.harmonic.colorProperty );`

but it fails, and you changed to:

` plot.setStroke( plot.harmonic

[2021-01-06 17:30] pixelzoom commented on #16
Oh I see... You're saying that I need to call setStroke if colorProperty changes -- which can happen via colors.html or (perhaps) PhET-iO.   Yes, I need to handle that.  But no, I don't feel the need to break emphasizedHarmonicsListener into a bunch of little functions.

[2021-01-06 17:46] samreid commented on #16
In the commit, I added PaintDef support in CanvasLinePlot.setStroke and added documentation.  I updated Fourier to call with `plot.setStroke( plot.harmonic.colorProperty );` instead of `plot.setStroke( plot.harmonic.colorProperty.value );`.  The last part that's missing is a call to `chartCanvasNode.update();` if a `colorProperty` value changes. Would you like me to add that part?

[2021-01-06 17:48] pixelzoom commented on #16
It was already handled elsewhere. I factored it out so that it's more obvious.

[2021-01-06 17:51] samreid commented on #16
I see it now, thanks!

[2021-01-06 18:10] pixelzoom commented on #16
In the above commit, I chose to use `colorProperty.value` wherever `setStroke` is called.

I find this to be confusing:

[code]

It suspect that developers won't totally understand what is going on with stroke and PaintColorProperty, and will tend to write of these dubious listeners:

[code]

This feels clearer and less error-prone:

[code]

So... And I'm thinking that we might want to revert Pain

[2021-01-06 19:14] pixelzoom commented on #16
@samreid and I discussed the above comment, and agreed that constraining stroke to {Color|string|null} would be preferrable.  I made some good progress on that, then got bogged down in the inconsistencies of how "color" is handled by Color, ColorDef, PaintDef, PaintColorProperty, etc.   I briefly discussed with @jonathanolson on Slack, but he's not up to speed.  So I bailed.

[2021-01-11 01:41] samreid commented on #16
Here's an implementation that uses `{Color|string|null}` (full file, not a diff).  It also caches the CSS for high performance.

<details>

[code]

</details>

@pixelzoom does that look OK to you?  Will Fourier need to be updated if we go with this approach?

[2021-01-11 02:09] samreid commented on #19
Scenery doesn't have a facility for changing the threshold, perhaps this doesn't need one either.  I changed to `1e-13` in the commit.  I noticed there are other TODOs in the code referring to this issue.

[2021-01-12 17:29] pixelzoom opened #21 "SpanNode does not support Orientation.VERTICAL"
Related to https://github.com/phetsims/bamboo/issues/19 ...

SpanNode has constructor param `@param {Orientation} axisOrientation`, but no support for `Orientation.VERTICAL`.

[2021-01-12 17:32] pixelzoom opened #22 "SpanNode: add options for subcomponents ArrowNode and Line"
Related to #19 ...

Options for the ArrowNode used in SpanNode are currently hardcoded.  This is an aspect of SpanNode that is highly likely to be sim-specific, and is a good place to use nested options (`arrowNodeOptions`).

[2021-01-12 17:33] pixelzoom commented on #22
Ditto for the length of the `Line` instances that appear at the ends of the arrow heads.

[2021-01-12 17:36] pixelzoom commented on #19
Since we're dealing with view coordinates at this point:

``` if ( Math.abs( viewWidth - this.viewWidth ) > notificationThreshold ) {``

... it seems reasonable to use `1e-13`.

Other TODOs have been moved to #21 and #22.

Closing.

[2021-01-12 17:36] #19 closed

[2021-01-12 17:41] pixelzoom commented on #16
Looks good, but I would suggest one change:

[code]

I've confirmed that no changes to Fourier are required.

[2021-01-12 19:16] samreid commented on #16
I made the change (with the CSS string test) and tested in Fourier.  No problems noted, closing.

[2021-01-12 19:16] #16 closed

[2021-01-13 04:45] samreid commented on #21
I will likely work on this once it is needed in the context of a simulation.  Unassigning for now.

[2021-01-13 17:11] pixelzoom opened #23 "CT: invalid stroke (CanvasLinePlot)"
Probably related to yesterday's changes to CanvasLinePlot in #16.

CT is failing with:

[code]

To reproduce manually:

1. Run the bamboo demo
2. Select "ChartCanvasNode" from the combo box

[2021-01-13 17:15] pixelzoom commented on #23
This is being caused by 2 color Properties used in DemoChartCanvasNode:

[code]

I would have simply removed those Properties, but one of them (`p`) is used in a Emitter listener:

[code]

I wasn't clear on what the intent was here.  So over to the author (@samreid) to address.

[2021-01-19 16:34] samreid commented on #23
Fixed and tested locally, closing.

[2021-01-19 16:34] #23 closed

[2021-01-20 11:48] samreid commented on #22
Implemented and ready for review.

[2021-01-21 20:40] pixelzoom commented on #22
Question about this:

[code]

Why is `lineWidth: 0` necessary?  If should be sufficient to set `stroke: null`.

And if `lineWidth: 0` is for some reason necessary, then the assertions should be moved _after_ the `merge` call, to prevent introducing an error via future programming changes.  I.e.:

[code]

But I suspect that `lineWidth` is irrelevant, and this is sufficient:

[code]

[2021-01-23 20:20] samreid commented on #22
Thanks for the recommendations.  I agree `strokeWidth: 0` is unnecessary. I also moved the assertions after the merge call.
 The default `stroke` in ArrowNode is non-null, so I we must set it somewhere in SpanNode.  Committing shortly, then will be ready for re-review.

[2021-01-25 18:33] pixelzoom commented on #22
Looks nice, closing.

[2021-01-25 18:33] #22 closed

[2021-02-08 21:11] pixelzoom opened #24 "ChartTransform enhancements"
ChartTransform has some duplication, and would be nice to have `modelToViewXY` to avoid having to create a Vector2 to pass to `modelToViewPosition`, and for symmetry with ModelViewTransform2.

I'll do this.

[2021-02-08 21:17] pixelzoom commented on #24
Done.  I added `modelToViewXY` and fixed some duplication in `modelToViewPosition`.

Over to @samreid for review.

[2021-02-08 23:07] samreid commented on #24
I reviewed the commits and don't have any recommendations, thanks!  Closing.

[2021-02-08 23:07] #24 closed

[2021-02-26 13:18] samreid commented on #7
Deferring until we have a use case and context for development.

[2021-02-26 13:20] samreid commented on #3
The implementation satisfies recommendations @jonathanolson made during a prior discussion, and has working tests.  I don't think this needs to be on his radar for review.  If we think of recommendations the next time a developer uses nonlinear transforms, we can make improvements then, closing.

[2021-02-26 13:20] #3 closed

[2021-03-10 18:18] pixelzoom opened #25 "LinePlot vs StraightLinePlot"
Today I created `StraightLinePlot`, to demonstrate for a Google Group member how to create additional plot types.  It plots _y = mx + b_. In deciding how to name it, I felt a bit of name (and conceptual) collision with `LinePlot`.

I think `LinePlot` is probably correctly named, see https://en.wikipedia.org/wiki/Line_chart:

@samreid Suggestions? Better name for `StraightLinePlot`?  Different name

[2021-03-11 16:23] samreid commented on #25
Looks good, thanks!  I think LinePlot is already well-named, I'm not too worried about the name `StraightLinePlot`, but what do you think of `LinearEquationPlot`?

[2021-03-11 16:43] pixelzoom commented on #25
Thanks for the feedback. I like `LinearEquationPlot`.  I'll rename and notify the Google Group user.

[2021-03-11 16:53] pixelzoom commented on #25
Done, closing.

[2021-03-11 16:53] #25 closed

[2021-03-14 18:47] pixelzoom opened #26 "ChartCanvasNode demo looks messed up"
@samreid is the bamboo demo for ChartCanvasNode supposed to look like this?

<img width="1068" alt="screenshot_912" src="https://user-images.githubusercontent.com/3046552/111080261-4a999380-84c3-11eb-978b-b05ddd4eb6f8.png">

[2021-03-14 18:58] samreid commented on #26
Yes, it's a demo for missing data.  But we could move that to a separate labeled test so it's not confusing if that would help.

[2021-03-14 19:04] pixelzoom commented on #26
OK, gotcha.   At the very least, that should be documented in the code.

And I think that perhaps we should carve out some time to clean up the bamboo demos.  Some of these demos are confusing because they aren't really demos of one or two specific things, they are testing a bunch of things.  For example, testing SpanNode in DemoLinePlot.

[2021-04-04 14:29] pixelzoom opened #27 "Revisit model-view transform support in bamboo."
This came up in a Google Group discussion, see https://groups.google.com/g/developing-interactive-simulations-in-html5/c/Srw0Yduz80Y.

ModelViewTransform2 is the standard way that sims handle model-view coordinate transforms.  Unfortunately, bamboo currently uses ChartTransform instead of ModelViewTransform2.  This creates 3 significant problems:

(1) A sim may need to have both a ModelViewTransfo

[2021-04-05 18:41] pixelzoom commented on #26
Doc looks good, and I think it's a nice change to only have a hole in 1 plot -- it looks less like a bug.

I'm not suggesting that things should not be showing in context.  What I'm pointing out is that there is generally too much going on in some of these demos, and some components (like SpanNode) cannot be selected via the combo box.   I'll create a new GitHub issue for "clean up demos".

[2021-04-05 18:44] pixelzoom opened #28 "Clean up bamboo demos."
Over in https://github.com/phetsims/bamboo/issues/26, I pointed out that some of the bamboos demos have a bit too much going on. And some components (e.g. SpanNode) cannot be selected via the combo box.  So while I agree that it's important to show components being used in context, I think that a larger number of simple demos would be more effective.

[2021-04-05 18:44] #26 closed

[2021-04-08 15:49] samreid opened #29 "Q2 Goal: Make sure foundation of bamboo is ready for general use"
During the 2021 Q2 planning session, we agreed we want to make sure bamboo foundation is ready for general use.  We will get a better sense of this during Fourier Screen 3 development.

This does not mean we need all the components we will ever need, or to have everything fixed, but mainly that it is at a good foundation.

[2021-05-05 23:51] jessegreenberg opened #30 "BarPlot won't draw new lines after setDataSet"
The implementation of setDataSet is
[code]

The implementation of `update` iterates over the `lines` array which is set only on construction. The result is that `update` won't add any new Lines that may get added with `setDataSet`.  A patch like this fixes the problem though there may be a more efficient way. Would something like this work?

[code]

[2021-05-06 03:45] samreid commented on #30
I started with the patch and factored out some duplicated logic.  I added a test harness in the bamboo example.  @jessegreenberg can you please review?

Also, in the slack thread, the sample picture showed a stroke around each bar--I don't think that's supported with BarPlot.  I'm wondering if BarPlot should be changed to use `Rectangle`? or if we should add a separate type for that?  Can you open

[2021-05-06 14:55] jessegreenberg commented on #30
The change is working great, thanks @samreid! `setDataSet` looks good.

You are correct, I will create a new issue for bar strokes, and close this one.

[2021-05-06 14:55] #30 closed

[2021-05-06 15:04] jessegreenberg opened #31 "Add strokes to BarPlot bars"
In Greenhouse Effect I have need for a plot like
![image](https://user-images.githubusercontent.com/6396244/117319896-bb24b700-ae59-11eb-990e-9a4f872d05b9.png)

Bamboo's BarPlot is working great for this, but the mockup shows strokes around each bar which isn't currently supported. BarPlot bars use currently Line which only have a stroke for the entire bar. The most straightforward way to support

[2021-05-06 18:41] jessegreenberg commented on #31
I made this change so that BarPlot draws with Rectangle instead of Line. @samreid would you mind reviewing? Just listing out the specific things that seem important for the reviewer to check:
- Since Rectangle doesn't support negative height I had to set the bar `bottom` to the plot y=0 line if it has a negative height.
- I added an option for `barWidth` to control width of bars in view coords
- I

[2021-05-10 19:58] samreid commented on #27
Bamboo currently supports nonlinear transforms, and I would not like to drop that feature by using ModelViewTransform2, which currently only supports linear transforms.  The other feature that bamboo handles nicely is support for setting the vertical transform independently from the horizontal transform. ModelViewTransform2 is mutable, but currently lacks support for setting one dimension at a tim

[2021-05-10 20:25] pixelzoom commented on #27
Is this via ChartTransform's `xScale` and `yScale` options?  Does that really work for (e.g.) a log transform?   The implementation for `modelToView` looks like it scale value/min/max, but still does a linear interpolation:

[code]

[2021-05-10 20:38] samreid commented on #27
I agree, "transform" may be a more natural term.  And they will need to be invertible so that bamboo can support view to model transforms.

[2021-05-10 23:45] pixelzoom commented on #27
I agree that bamboo shouldn't use ModelViewTransform2.  And it also sounds like we're in agreement that the current capabilities of ChartTransform are lacking.  So I'm going to re-title this issue accordingly.

[2021-05-12 05:18] samreid commented on #31
Looks great, I tested this in the bamboo demo and in greenhouse gases.  Some ideas for improvements:

The code in update may be simpler (avoid the if statement) if we use Math.min like so:

[code]

Could be addressed like so:

[code]

What if we wanted the bar width to also be a function of the data point?  It's unclear where we should draw the line for customization.  But the most general would b

[2021-05-13 16:50] jessegreenberg commented on #31
Thanks for reviewing @samreid! Improvements made in the above commits.

I don't think I would recommend pursuing this. I did a search through bar plot examples and couldn't find a plot that looked like this. I would recommend we wait until this is requested because in my opinion it seems like an unlikely case.

[2021-05-13 17:01] samreid commented on #31
I searched "bar chart where bars are different colors" and saw many examples of bar charts where each bar is a different color.  Is that worth pursuing?

[2021-05-13 17:07] jessegreenberg commented on #31
"bar chart where bars are different colors" seems very useful and is supported by `pointToPaintableFields`. I did a search for "bar chart where bars are different widths" and didn't see many examples in the wild.

[2021-05-13 17:11] samreid commented on #31
Excellent, thanks for helping me understand.  The commits seem good, can this issue be closed?

[2021-05-13 17:12] jessegreenberg commented on #31
Great, I think so, thanks @samreid!

[2021-05-13 17:12] #31 closed

[2021-06-11 15:28] samreid commented on #27
I've written an initial draft for this implementation and it is ready for review.  The demo looks like this:

![image](https://user-images.githubusercontent.com/679486/121710940-4e738c80-ca97-11eb-9289-6dd273b4862f.png)

@pixelzoom can you please review?

[2021-06-11 15:30] samreid opened #32 "Why do log e and log 10 charts look identical?"
Discovered during https://github.com/phetsims/bamboo/issues/27, why do log e and log 10 charts look identical?  Note that this problem predated changes in #27.

[2021-06-11 16:09] samreid commented on #32
This is to be expected, since we are using the same chart area and gridlines, and since changing base only changes the scale (but the scale is fixed, as I mentioned).  Closing.

[2021-06-11 16:09] #32 closed, assigned to samreid

[2021-06-11 21:36] samreid commented on #27
Some more improvements in the commits, including a fix for a problem CT identified.

[2021-06-14 21:28] pixelzoom opened #33 "BarPlot this.dataSet should not be public"
In BarPlot, public `this.dataSet` looks buggy to me:

[code]

Method `setDataSet` is doing some important work.  So if you set it directly and call `update`, `this.rectangles` will not have been updated.

[2021-06-14 21:31] pixelzoom commented on #33
Slack:

Chris Malley  3:25 PM
Actually…. In BarPlot, public this.dataSet looks buggy to me. If you don’t use setDataSet, then this.rectangles won’t be updated. (edited)

Jesse Greenberg  3:26 PM
True, I am not sure why it is public with setDataSet. But the comment for it acknowledges that.

Chris Malley  3:30 PM
The idea is to be able to mutate Vector2 instances in the dataSet, then call update.

[2021-06-14 21:45] jessegreenberg opened #34 "Create a plot that draws data with arrows"
From https://github.com/phetsims/greenhouse-effect/issues/44, we need a plot that is similar to BarPlot but where the bars have arrow heads.  Over slack I checked to see if anyone had a recommendation for how to go about this:

<details>

Jesse Greenberg  5:16 PM
I have a plot that looks like this:
image.png
image.png

5:17
Which is currently using BarPlot from Bamboo. But it has been requested th

[2021-06-14 22:29] jessegreenberg commented on #34
I added an UpDownArrowPlot in the above commit. It is much like BarPlot, but draws the data with ArrowNode instead of Rectangle.

@samreid would you mind reviewing this addition? One thing I noticed was that WebStorm flagged some things in the constructor as duplicated code with BarPlot, which comes from them all having a matching API. Do you think it would be worthwhile to have a supertype like B

[2021-06-14 22:59] samreid commented on #33
This problem was introduced in https://github.com/phetsims/bamboo/issues/30.  Here's a patch that should solve it:

<details>

[code]

</details>

@jessegreenberg can you please review the patch?

[2021-06-15 00:28] jessegreenberg commented on #33
That looks very nice, thanks. I applied the patch and then tested it in the bamboo demo by adding this change and then pressing the "Random Data Set" button and seeing the rectangles get added and removed.
<details>

[code]
</details>

@samreid  back to you, anything else for this?

[2021-06-15 00:55] jessegreenberg commented on #34
A better way to add/remove the graphic for each data point was shown in #33. Rather than removing all then adding all back each update, it should just add/remove the new ArrowNodes if necessary. This improvement was made in the above commit.

[2021-06-15 13:44] samreid commented on #33
Thanks, looks good.  Reassigning to @pixelzoom so he is aware, and in case he wants to do additional code review.

[2021-06-15 13:51] samreid opened #35 "Factor out a parent BambooPlot type"
From https://github.com/phetsims/bamboo/issues/34, the duplicated code between e.g., BarPlot and UpDownArrowPlot should be factored out.  Using TypeScript, we would probably use an abstract `update` method.

[2021-06-15 13:54] samreid commented on #34
The changes look good and I tested them in greenhouse effect.  Would you like to add a bamboo demo that shows the UpDownArrowPlot?

I also opened https://github.com/phetsims/bamboo/issues/35 to factor out a BambooPlot parent type.

[2021-06-15 13:56] samreid opened #36 "Should bamboo plots be moved to a "plots/" subdirectory?"
Inspired by #34 and #35 it seems possible that we will have a proliferation of plot types in bamboo.  Should these be moved to a "plots" subdirectory, or is it preferable to keep everything top-level?

@pixelzoom what do you recommend?

[2021-06-15 14:45] pixelzoom commented on #36
I don't feel strongly either way.

I have been wondering if there should be a Plot.js base class, since there's starting to be duplication, as well as some undesirable variation, amoung the plot classes.  Maybe a new issue?

[2021-06-15 14:45] pixelzoom opened #37 "Plot base class"
I have been wondering if there should be a Plot.js base class. There's starting to be duplication, as well as some undesirable variation, amoung the plot classes.  And if you're trying to create a new plot class, it's not totally clear what the required interface/API is.

@samreid thoughts?

[2021-06-15 15:22] pixelzoom commented on #33
Looks good.  I updated the doc for `setDataSet` to be the same as for other plots. That is, it gives more detail about when and why you need to call `update.

Closing.

[2021-06-15 15:22] #33 closed

[2021-06-15 17:04] samreid commented on #37
I opened https://github.com/phetsims/bamboo/issues/35 to factor out commonalities between existing Plot classes.  I'll add your comment there and close this as a duplicate.

[2021-06-15 17:04] #37 closed

[2021-06-15 17:04] samreid commented on #35
In #37 @pixelzoom asked:

[2021-06-15 17:05] samreid commented on #36
I'll consider this after factoring out a plot supertype in #35

[2021-06-15 18:41] jessegreenberg commented on #34
OK sounds good, thanks for reviewing. I made a simple demo for the BambooDemoScreenView. Anything else for this one?

[2021-06-15 22:46] pixelzoom opened #38 "Support for axis without arrow head(s)"
Axes are frequently need to be drawn without arrow heads in PhET sims.  To accomplish that using bamboo's AxisNode, you have to clip to the ChartRectange to remove the parts of the axis (including the arrow head or heads) that extend past the edges.

So something like what I've done in base class `WaveformChartNode` in Fourier:

[code]

This is inconvenient, and I'd like to have a way of creating

[2021-06-15 22:57] pixelzoom commented on #27
Before I review this...   https://github.com/phetsims/bamboo/issues/38 got me to thinking about an AxesNode with `doubleHead: false`, and wondering if it did the right thing -- the arrow head should point in the axis' positive direction. AxisNode implementation looks like it always assumes +x right, +y up.  And then I realized that ChartTransform is limited to +x right, +y up because it uses `Rang

[2021-06-15 23:18] pixelzoom commented on #38
In the above commits, I added `AxisLine`, and I'm using it throughout Fourier.

There is a lot of duplication between `AxisLine` and `AxisNode`.

[2021-06-15 23:24] samreid commented on #34
Looks great, thanks!  Closing.

[2021-06-15 23:24] #34 closed

[2021-06-16 15:26] samreid opened #39 "Add support for values decreasing to the left/up"
From https://github.com/phetsims/bamboo/issues/27#issuecomment-861887346 @pixelzoom said:

I can imagine that we would need a chart which has decreasing values going up vertically.  (Not sure about decreasing values going to the left), but I think we should add support for both.

[2021-06-16 15:27] samreid commented on #27
Thanks, I moved the recommendation to a new issue.  It seems to be this issue could be reviewed independently before #39 is done, but you may save some time in reviewing both together once #39 is done.  Up to you if you want to review this as an intermediate step beforehand.

[2021-06-16 17:17] samreid commented on #39
I made good progress creating an `Interval` type, but after discussion with @pixelzoom we are wondering if this can be accomplished in the transform.

Here's a patch that uses `Interval`:

<details>

[code]

</details>

![image](https://user-images.githubusercontent.com/679486/122264008-4c913b00-ce94-11eb-9cdc-0d9726b97aa0.png)

Instead, we are wondering if we can accomplish this by keeping the sa

[2021-06-16 18:14] samreid commented on #39
I think I have a better understanding of what is happening here.  There are 2 transforms at play.  The first, such as `xTransform` is a model-based transform that specifies a mapping for the data.  The second is a linear transform which is currently hardcoded like so:

[code]

Note that (in the x-direction) the linear functions map the minimum (transformed) model value to the left edge and the max

[2021-06-16 18:46] samreid commented on #38
AxisLine sounds reasonable, but I'm wondering what you think about using the ArrowNode API for customizing it.  For instance, setting an arrow head width/height to 0?  Or combining that with `doubleHead` to determine the number of arrowheads?

[2021-06-22 16:44] pixelzoom commented on #38
That was option (2) in https://github.com/phetsims/bamboo/issues/38#issue-921864684.  It's more complicated and will involve options that can't be combined.  I sort of double that ArrowNode supports headWidth:0 or headHeight:0, and I really don't want to touch ArrowNode.

So I'm inclined to rename AxisNode to AxisArrowNode, and call this done.  @samreid thoughts?

[2021-06-22 16:49] pixelzoom commented on #38
I guess another approach would be `AxisNode extends Node`, and then have it create either ArrowNode or Line, based on options.   An immediate problem is that ArrowNode and Line have very different APIs.   So AxisNode API would probably need to look something like (yuck):

[code]

[2021-06-22 16:56] pixelzoom commented on #39
Having 2 places where the transform is handled is definitely problematic.  What we seem to need is something like ModelViewTransform2 that handles non-linear transforms.  bamboo isn't going to be significantly disadvantaged if we're constrained to linear mappings with +x left and +y up.   Let's add @jonathanolson to the discussion to see if he has any ideas.

[2021-06-22 20:06] jonathanolson commented on #39
What do you need out of the transforms? Do we NEED to know when it's linear, for optimizations? Could you just accept any invertible function (presumably specifying a function and its inverse?)

[2021-06-23 03:29] samreid commented on #39
Please review https://github.com/phetsims/bamboo/issues/39#issuecomment-862602848 which describes the nonlinear model-oriented transform, and the subsequent linear view-oriented transform.

[2021-06-27 23:47] samreid commented on #38
That seems the best solution to me.  Still sound good to you?

[2021-07-06 16:32] pixelzoom commented on #38
In the above commits, I renamed AxisNode to AxisArrowNode, and I used AxisLine in one bamboo demo.  I was surprised to find that AxisNode was not used outside of the bamboo demos.

Since this is a breaking API change, I announced on the Google Group at https://groups.google.com/g/developing-interactive-simulations-in-html5/c/1Zm4l3sye20/m/Iy34b9jRAAAJ.

@samreid have a look, feel free to close if

[2021-07-06 21:31] pixelzoom commented on #27
Changes look OK, but a few things:

* Related methods were not grouped together in the source. I reorganized in https://github.com/phetsims/bamboo/commit/07b76a46708f75877bb8fee17f724a21b5605493.

* `viewToModelPoint` is a very different name than `modelToViewPosition`. ModelViewTransform2 uses the "position" terminology, so I went with that in https://github.com/phetsims/bamboo/commit/9a852e9949e

[2021-07-07 04:01] samreid commented on #27
I added some convenience methods, would you like to review?

[2021-07-07 04:04] samreid commented on #38
I reviewed the commits and tested the ChartCanvasNode demo.  It seems reasonable and I don't have any recommendations, closing.

[2021-07-07 04:04] #38 closed

[2021-07-07 16:35] pixelzoom commented on #27
👍🏻 closing.

[2021-07-07 16:35] #27 closed

[2021-07-10 21:35] samreid commented on #35
I factored out AbstractPlot and it is working great for BarPlot and will work well for UpDownArrowPlot:

<details>

[code]

</details>

However, it cannot be used for any of the other Plots because they already extend something else.  `class CanvasLinePlot extends CanvasPainter `, `class LinearEquationPlot extends Line`, `class LinePlot extends Path`, `class ScatterPlot extends Path`.  @pixelzoom

[2021-07-10 21:36] samreid commented on #36
I don't feel strongly about putting Plots in a subdirectory.  Maybe in the future if there are too many things, we can reconsider.  Closing.

[2021-07-10 21:36] #36 closed

[2021-07-13 16:32] pixelzoom commented on #35
I was going to suggest using composition for those other plot classes.  That would work for `LinearEquationPlot`, `LinePlot`, and `ScatterPlot` -- and would be an improvement imo, because it wouldn't expose the APIs of Line and Path.  But I see that `ChartCanvasNode` requires its plots to be `CanvasPainter`, and I'm not sure what to do there.

@samreid what do you think about using composition whe

[2021-07-13 17:00] samreid commented on #35
For instance, would `LinearEquationPlot` extend `Plot` and contain a `Line`, or vice versa?

[2021-07-13 19:35] samreid commented on #35
It also seems nice to keep the Plots as Nodes themselves, so usage reads like:

[code]

Instead of:

[code]

@pixelzoom does this sound reasonable to you, that we would have a type like `PlotNode extends Node` and adds content via its Node children?  On the other hand, this approach isn't compatible with `CanvasPainter` which should not be a `Node`.  Another way to factor out this code would be wi

[2021-07-13 22:50] pixelzoom commented on #35
Yes, definitely.  I don't like (e.g.) `new BarPlot(...).getNode()`.

What if...?
* Node-based plots extend Plot, and use Line, Path, etc. via composition.
* Canvas-based plots extend CanvasPainter, and don't share the Plot API.

[2021-07-13 23:15] samreid commented on #35
I got partway through this patch:

<details>

[code]

</details>

When I realized we have to change the options API, because we can't pass the same options to 2 places (because of phet-io):

[code]

Therefore the call sites would change from:

[code]

to

[code]

Just thought I'd check in and see if that is a deal-breaker.

[2021-07-13 23:48] pixelzoom commented on #35
Hmm, that does seem awkward.

How are you feeling about this issue @samreid? Should we bail, credit the duplication to JS's lack of interfaces, and somehow document (maybe with @typedef?) what the public API for all "plots" is expected to include?  Or skip the doc, cross our fingers, and hope that we don't end up with different plot APIs?

[2021-07-14 03:42] samreid commented on #35
There are 2 aspects of this issue--duplicated code and consistent interface.  For the duplicated code, here is the code that appears in several files.  I removed imports and comments for brevity.

[code]

In my opinion, none of this is complicated or error-prone, or would cause problems if done slightly differently in a new Plot type.

Second, the public interface looks something like this:

[code

[2021-07-15 02:49] pixelzoom commented on #35
So is your proposal to defer this issue until we start using TypeScript?

[2021-07-15 13:02] samreid commented on #35
That sounds good, unassigning and deferring.

[2021-07-15 13:04] samreid commented on #35
I labeled as priority-5:deferred, but then recalled these sentiments:
"status:on-hold" when an issue is waiting on another issue before it can move forward
"priority:5-deferred" when an issue seems unimportant and doesn't warrant attention in the near future (on its own merit)

So I switched the label to "on-hold", but could also add deferred if desired.

[2021-07-29 18:29] pixelzoom commented on #29
Reviewed at Q3 planning meeting. This epic was accomplished in Q2, and can be closed.

[2021-07-29 18:29] #29 closed

[2021-08-03 16:54] pixelzoom opened #40 "ChartTransform modelToView doesn't handle small values"
Discovered in https://github.com/phetsims/fourier-making-waves/issues/115.

`ChartTransform` is not handling small numbers that approach  `Number.MIN_VALUE`, which is `5e-324`.  It returns `Infinity`, which causes all kinds of other downstream problems.

Example:

[code]

The problem appears to in `Utils.linear` or `Transform1.evaluate`, called from `modelToView`:

[code]

We'll probably need to s

[2021-08-03 17:10] samreid commented on #40
In JavaScript, `1/Number.MIN_VALUE` evaluates to `Infinity`.

1/0 is also Infinity.

`typeof (1/0)` evaluates to `'number'`.

How do you recommend to proceed?

[2021-08-08 00:00] pixelzoom opened #41 "Rename pointToPaintableFields option."
In BarPlot.js:

[code]

Since these are options passed to `Rectangle.mutate`, it would make more sense to call these identifiers `pointToPaintableOptions` and `paintableOptions`.  Or maybe even `pointToRectangeOptions` and `rectangleOptions`.

@samreid which name would you prefer?  It feel like `rectangleOptions` is more appropriate, since these options are passed to Rectangle, any Rectangle optio

[2021-08-08 00:04] pixelzoom commented on #41
The type expression is also wrong here, `pointToPaintableFields` does not return `ColorDef`, it returns `Object`.

[code]

[2021-08-08 00:05] pixelzoom commented on #41
Oh, I see that there is Paintable validation:

[code]

... so let's go with `paintableOptions`.

[2021-08-08 00:08] pixelzoom commented on #41
Similar name issue and bad type expression in UpDownArrowPlot.js:

[code]

[2021-08-08 00:10] pixelzoom commented on #41
... and the case in UpDownArrowPlot.js actually has this important line that's not in BarPlot.js, and which I hit as I started to work on this:

[code]

[2021-08-08 00:12] pixelzoom commented on #41
So it looks like the rename is impossible here.  To bad, it's confusing.

I fixed the type expression for pointToPaintableFields, and I added the missing doc to BarPlot.js.

Closing.

[2021-08-08 00:12] #41 closed

[2021-08-08 00:14] pixelzoom commented on #41
In the above commit, more doc fixed related to pointToPaintableFields.

[2021-08-11 19:11] pixelzoom opened #42 "CanvasLinePlot's lack of support for color Property"
CanvasLinePlot does not support `{Property} stroke` because any change to CanvasLinePlot requires calling `update` for the parent ChartCanvasNode.

In practice, this is causing 2 problems:

(1) I'm constantly forgetting that `stroke` can't be a Property, and writing code like this that fails an assertion in CanvasLinePlot `setStroke`:

[code]

(2) To use a color Property (e.g. a `ProfileColorPrope

[2021-08-11 21:13] samreid commented on #42
Brainstorming a proposal:

1. Change CanvasLinePlot to accept stroke: `ColorDef`
2. Add a `changedEmitter` property to `CanvasPainter`
3. When a `CanvasPainter` is registered on a `ChartCanvasNode`, the `ChartCanvasNode` listens for emits from the `changedEmitter` and automatically repaints itself.
4. A stroke change in CanvasLinePlot triggers `CanvasPainter.changedEmitter.emit`

[2021-08-11 22:21] pixelzoom commented on #42
I've built something similar to that proposal into HarmonicPlot and InfiniteHarmonicPlot.

[2021-08-12 16:53] pixelzoom commented on #42
I started to implement the proposal to add a `changedEmitter` to CanvasLinePlot.  CanvasLinePlot got much more complicate. It was necessary to conditionally add/remove a listener if `stroke` was a Property. It was then necessary to implement `dispose`.  And it also seemed like we'd need to add notification for changing `lineWidth` and `dataSet` -- making those fields private, and adding setters/ge

[2021-08-26 17:00] pixelzoom opened #43 "Rename LabelSet to TickLabelSet."
I ran into this while documenting Fourier.

LabelSet is clearly specific to tick labels. e.g.

[code]

The class for tick marks is named TickMarkSet.  So it makes sense to rename this TickLabelSet.

[2021-09-01 00:45] samreid opened #44 "Canvas context should be saved and restored"
From https://github.com/phetsims/circuit-construction-kit-common/issues/728#issuecomment-909578963, we discovered that canvas painters don't save and restore their state.  @jonathanolson said it's best to factor this out so a painter is not responsible for it, and cannot forget it.  It is well-optimized in browsers.

[2021-09-01 00:47] samreid commented on #44
Fixed in the commit.  @pixelzoom can you please review?  I also searched fourier for any save/restore that may no longer be necessary, but I didn't see any.

[2021-09-01 14:57] pixelzoom commented on #44
It might be better to have @jonathanolson review this, since I'm unfamiliar with the optimization that you're trying to address.

But I do have a question https://github.com/phetsims/bamboo/commit/c5d1c499ece95d513d08be680e0433d23ac06a03.  ChartCanvasNode `paintCanvas` now has this implementation:

[code]

If there are N painters, you're calling `context.save` and `context.restore` N times.  Is th

[2021-09-02 05:11] samreid commented on #44
The save and restore for each paintContext is intentional, so that we are guaranteed that a fill, transform, etc from one painter won't leak into another painter.  @jonathanolson would you like to review?  It's pretty similar to what we discussed on the call.

[2021-09-02 05:12] samreid commented on #43
Looks good, thanks!  Closing.

[2021-09-02 05:12] #43 closed

[2021-09-02 05:24] samreid commented on #40
For the example described in https://github.com/phetsims/bamboo/issues/40#issue-959309925, the linear function is:

[code]

with

[code]

Therefore, to transform from model to view, we divide the delta b (100) by delta a (6E-310).  This works out to be

[code]

@jonathanolson and I applied an arbitrary-precision floating point computation library for a problem in CCK, but it has a lot of baggage a

[2021-09-02 14:32] samreid commented on #44
Thanks, I added a comment.

[2021-09-02 16:01] jonathanolson commented on #44
Looks good to me!

[2021-09-02 16:04] samreid commented on #44
Thanks, closing.

[2021-09-02 16:04] #44 closed

[2021-09-03 01:02] pixelzoom commented on #40
I guess that seems reasonable -- I ran into this in Fourier because my model was "off" and I shouldn't have had tiny values in the first place.  But if it's a constraint, then the arg(s) should be verified with an assertion.

[2021-09-03 01:20] samreid commented on #40
How about assertions on the computed values, like so?

<details>

[code]

</details>

[2021-09-03 15:38] pixelzoom commented on #40
Adding those assertions to `modelToView` looks like a good solution.  I'm guessing there could be a similar problem with `viewToModel`, so perhaps similar assertions there, in case the client calls `viewToModel` before `modelToView`?

[2021-09-21 01:00] pixelzoom opened #45 "ChartCanvasNode and the need to call update."
@jonathanolson added this review comment to SumChartNode.js for https://github.com/phetsims/fourier-making-waves/issues/165 code review:

[code]

This is a problem that @samreid and I wrestled with previously in bamboo.  `ChartCanvasNode` renders 1 or more `CanvasLinePlot` instances.  `CanvasLinePlot` does not know about `ChartCanvasNode`.  So when you make changes to a `CanvasLinePlot `, you are

[2021-09-21 17:35] jonathanolson commented on #45
That seems like something that could change, but I'm curious if it would affect performance.

[2021-09-22 16:52] pixelzoom commented on #42
This issue was raised by @jonathanolson in the code-review for Fourier (https://github.com/phetsims/fourier-making-waves/issues/165.  And I (unsuccessfully) tried to handle it in sim-specific code in https://github.com/phetsims/fourier-making-waves/issues/174.  So it seems appropriate to reopen this issue - support for stroke Property is clearly something that CanvasLinePlot should have.

[2021-09-22 16:53] pixelzoom commented on #45
I unsuccessfully tried to address this in sim specific code, see https://github.com/phetsims/fourier-making-waves/issues/174.

[2021-09-22 16:54] pixelzoom commented on #45
I said above:

@jonathanolson pointed out that `update` is currently just `invalidatePaint`, which simply flags the Canvas as needing to be redrawn.  So there should be no significant penalty for calling `update` many times.

[2021-09-22 16:57] pixelzoom opened #46 "Having a separate implementation for Canvas is problematic in the longterm."
As part of Fourier code review https://github.com/phetsims/fourier-making-waves/issues/165, @jonathanolson pointed out that having a separate implementation for Canvas (CanvasChartNode, CanvasLinePlot) is problematic in the longterm.  For example, as we get more support for WebGL to improve performance, code that uses the Canvas-based classes will be stuck with Canvas performance.  An API like Nod

[2021-09-22 17:23] pixelzoom opened #47 "Code review"
As part of Fourier code review, @kathy-phet said in https://github.com/phetsims/fourier-making-waves/issues/165#issuecomment-910736299:

[2021-09-28 03:53] pixelzoom commented on #42
Unassigning because I doubt that we'll see progress on this for awhile.  Let me know when you'd like to discuss.

[2021-09-28 03:53] pixelzoom commented on #46
Unassigning because I doubt that we'll see progress on this for awhile.  Let me know when you'd like to discuss.

[2021-09-28 03:54] pixelzoom commented on #45
Unassigning because I doubt that we'll see progress on this for awhile.  Let me know when you'd like to discuss.

[2021-09-28 23:40] samreid commented on #40
I added the assertions in the patch and more for the `viewToModel`.  I wasn't sure of good variable names or assertion messages, please feel free to improve those if you have an idea about that.  Ready for review.

[2021-09-30 15:59] pixelzoom commented on #40
Looks good. I renamed a couple of local variables in the commit above.

Question about this bit of code, which is not new:

[code]

Do you recall why this is needed? Should it be documented?

[2021-09-30 16:11] samreid commented on #40
This was introduced for https://github.com/phetsims/bamboo/issues/3, and is exercised for the bamboo demo "Multiple Plots" when you select "log" scale.  It seems the problem is when trying to evaluate a value outside of a function's domain.  I'm not sure what to do about this case.  What do you recommend?

[2021-09-30 19:13] pixelzoom commented on #40
It looks like there's a bug in DemoMultiplePlots.  Wasn't `yScale` renamed `yTransform`?

[code]

I'm not sure what to do about the code that I pointed out in https://github.com/phetsims/bamboo/issues/40#issuecomment-931454309.  But if this does happen, isn't this silently hiding a problem? And is the correct response really to punt on the transform and return `value`?

[2021-09-30 20:25] samreid opened #48 "How should we handle data points outside of a transform's domain?"
In https://github.com/phetsims/bamboo/issues/40#issuecomment-931454309 @pixelzoom said:

[code]

[2021-09-30 20:25] samreid commented on #48
This was introduced for https://github.com/phetsims/bamboo/issues/3, and is exercised for the bamboo demo "Multiple Plots" when you select "log" scale.  It seems the problem is when trying to evaluate a value outside of a function's domain.  I'm not sure what to do about this case.  What do you recommend?

[2021-09-30 20:26] samreid commented on #48
@pixelzoom replied:

[code]

[2021-09-30 20:26] samreid commented on #40
Thanks, I moved that part to a new issue.  Can this one be closed?

[2021-09-30 22:00] pixelzoom commented on #48
To clarify... DemoMultiplePlots looks like it contains a bug that's not related to this issue. `yScale` should have been renamed `yTransform`.

[2021-09-30 22:01] pixelzoom commented on #40
Yep, closing.

[2021-09-30 22:01] #40 closed

[2021-10-01 02:45] samreid commented on #48
I fixed that part, thanks!  Leaving the issue open for the main part.

[2021-10-01 16:50] samreid commented on #46
This doesn't seem like something we need to solve right away.  All of the canvas charts already have a non-canvas implementation, which could be rendered in SVG or WebGL if scenery one day supports that.  Yes, the canvas implementation is a holdover, but who knows if/when we will have more WebGL support in scenery?  Also, if we have WebGL support in scenery, perhaps we will build or use an adapter

[2021-10-01 18:11] samreid commented on #48
I added assertions that the transformed points are numeric and finite, and adjusted the characteristics of the demo log plot so it doesn't try to compute Math.log(0).  I fuzzed fourier and didn't see any problems.  @pixelzoom can you please review?

[2021-10-03 02:28] samreid commented on #42
It seems good to touch base on this.  There was a proposal in https://github.com/phetsims/bamboo/issues/42#issuecomment-897158907, and it seems that or something similar was investigated in https://github.com/phetsims/bamboo/issues/42#issuecomment-897802195.  So perhaps we should create a dev meeting subgroup: @pixelzoom @jonathanolson and myself?  I'll try that and see if that helps us come up wi

[2021-10-04 15:11] samreid commented on #45
Perhaps the best way forward for this issue is to schedule a 15-minute mini dev subteam.

[2021-10-04 16:32] jonathanolson commented on #42
https://github.com/phetsims/bamboo/issues/42#issuecomment-897158907 seems workable, as long as it doesn't kill performance when a lot of painters are added/removed each frame (there may be cases like that?)

[2021-10-05 15:42] pixelzoom commented on #48
👍🏻 closing.

[2021-10-05 15:42] #48 closed

[2021-10-20 17:37] pixelzoom commented on #42
+1 for @samreid's proposal in https://github.com/phetsims/bamboo/issues/42#issuecomment-897158907, with one caveat.   The `changedEmitter` should fire for all aspects of CanvasLinePlot that can be mutated (e.g. data set).  This dovetails with https://github.com/phetsims/bamboo/issues/45.

[2021-11-09 00:56] pixelzoom commented on #46
I see @jonathanolson's point about this. If the renderer hadn't been abstracted out eagerly in scenery, there's little chance that we would have been able to do it later, especially if Node (and its subclasses) had different APIs for different renderers.  So if we think it's valuable to do that for bamboo, it should probably be done eagerly.

[2021-11-09 00:57] pixelzoom commented on #45
Unassigning until we muster a subgroup meeting, which seems unlikely in the near future.

[2021-11-09 05:12] samreid commented on #45
Do the assignees indicate the dev group subteam?  I also want to unassign myself since I don't want to see this in my assigned issues until our subgroup meeting.  But leaving myself as an assignee helps indicate that I'm part of the subgroup when it's time.

[2021-11-09 05:22] samreid commented on #46
It seems we should add this to our subgroup meeting alongside https://github.com/phetsims/bamboo/issues/45

[2021-12-18 06:03] samreid opened #49 "Convert to TypeScript"
As a preliminary step before https://github.com/phetsims/bamboo/issues/42, it seems valuable to convert bamboo to TypeScript.

[2021-12-19 23:54] samreid opened #50 "The y=mx+b sliders are oriented backwards"
The sliders look like this, but drag up and down:

![image](https://user-images.githubusercontent.com/679486/146695401-b84f3c30-145e-40aa-b976-60c1ea93bb37.png)

Discovered in https://github.com/phetsims/bamboo/issues/49

[2021-12-20 22:32] KatieWoe opened #51 "CT: transformed value was not finite"
[code]

[2021-12-21 15:43] pixelzoom commented on #51
This started in CT on 12/19/2021 @ 5:44 PM, and has occurred on every cycle since.  That would seem to coincide with https://github.com/phetsims/bamboo/commit/88efa61830a0124ff7fdc1594e9a7cb7147d3db6 by @samreid on 12/19/2021 @ 4:56 PM.

[2021-12-27 23:45] jessegreenberg commented on #49
I noticed a CT error caused by the change to UpDownArrowPlot.ts, I believe it is fixed in the above commit. I also renamed `DEFAULT_PAINTABLE_OPTIONS` so that it is not as easily confused with `PAINTABLE_DEFAULT_OPTIONS`.

[2022-01-05 16:24] samreid commented on #51
I reproduced this problem by going to "multiple plots" and selecting "log".

[2022-01-05 16:36] samreid commented on #51
In the commit https://github.com/phetsims/bamboo/commit/88efa61830a0124ff7fdc1594e9a7cb7147d3db6 2 occurrences of `'loose'` were inadvertently changed to `'lenient'`.  I corrected it in the commit.  Leaving open to check on CT in a column or two.

[2022-01-05 19:17] samreid commented on #51
CT looks clear, closing.

[2022-01-05 19:17] #51 closed

[2022-01-08 04:35] samreid commented on #50
I switched to use HSlider and will open a separate issue about this newly discovered VSlider problem.  It looks like this now:

![image](https://user-images.githubusercontent.com/679486/148631521-15646615-4944-44cb-aa1b-845591fdb3bf.png)

@pixelzoom is this what was intended? Or did you want vertical sliders?

[2022-01-08 04:50] samreid commented on #46
This sounds like an epic-level issue, but one that I won't have time for in 2022 Q1.  @pixelzoom or @jonathanolson can you please comment whether this should be labeled as epic, and how soon it should be worked on?

[2022-01-10 22:21] pixelzoom commented on #50
phetsims/sun#733 is fixed, so I reverted to VSlider for DemoLinearEquationPlot.

Back to @samreid for review.

[2022-01-10 23:12] samreid commented on #50
Looks great, thanks, closing.

[2022-01-10 23:12] #50 closed

[2022-01-11 18:31] pixelzoom commented on #46
I agree with the concern that @jonathanolson expressed in https://github.com/phetsims/bamboo/issues/46#issue-1004519042.  I don't know whether it should be labeled as an epic, or what the priority should be.   It's not impeding any of my current work.

[2022-02-01 16:59] samreid opened #52 "Create tsconfig-module.json"
Discovered in https://github.com/phetsims/center-and-spread/issues/2, bamboo needs a modularized tsconfig-module.json.

[2022-02-01 20:36] samreid commented on #52
Fixed, tested with `tsc -b` in a few repos.  Closing.

[2022-02-01 20:36] #52 closed

[2022-02-02 01:09] samreid commented on #42
Unassigning since I am not scheduled any time for this part of bamboo in the current quarter.  This issue will not be lost since I am the responsible dev for the repo.

[2022-08-12 22:59] samreid commented on #49
Bamboo is in TypeScript, additional improvements can be done on-demand.  Closing.

[2022-08-12 22:59] #49 closed

[2022-09-15 19:00] samreid commented on #46
Today @pixelzoom and @jonathanolson and I discussed this.

We saw that CanvasGridLineSet and GridLineSet already have very similar APIs.  But @jonathanolson wanted to see an API like:

[code]

This is not a priority at the moment.  When will it become a priority? Probably when we have a sim that cannot use what is already there.

[2022-09-20 01:11] jonathanolson commented on #39
So if we have separate transforms, the potentially non-invertible one could presumably just have a similar API to LinearFunction?

e.g. accept

[code]
so then LinearFunction would satisfy it automatically?

I've also used map/inverse before.

ModelViewTransform2's API would be fairly difficult to generalize to arbitrary nonlinear mappings. It would require a few derivatives to be computed, for sha

[2022-09-27 12:09] veillette opened #53 "Discrepancy between jsdoc and type in LinePlot"
The documentation of LinePlot claim that it supports a dataset made of an array of Vector2 or null variables
[code]

[2022-09-27 12:17] veillette commented on #53
If you merely updated the type of data sets, typescript brings other complaints down the line.

Assigning to @samreid to take a look since he is the author of this class.

[2022-09-27 14:18] samreid commented on #53
I pushed a proposed fix, @veillette can you please review? Close if all is well.

[2022-10-08 03:42] samreid commented on #39
I don't think we want a fully general nonlinear API for the view transform.  (That is already supported in the model transform).  Instead, we would like to say that instead of the chart going from (-4,4) we want it to go from (4,-4).  However, if we also want to power it with our Range class that won't be possible since range requires min<max.  Instead, I added booleans:

[code]

And tested that b

[2022-10-17 00:26] veillette opened #54 "Export type options throughout the library"
Most of the  (all?) classes in the bamboo library do not export their type options.

For instance, in TickLabelSet we have,
[code]

I'm not sure if this is an oversight or a conscious decision.
Since this is a common-code library, I would have thought that it would be nice to able to export the options that can be used for type context.

[2022-10-17 00:28] veillette commented on #54
Assigning to @samreid  since he seems to have done the bulk of the work on this library.

[2022-10-18 00:09] samreid commented on #54
This was an oversight, thanks!  I tried to address it in the commit.  Please review.

[2022-10-18 01:20] veillette commented on #54
Thanks @samreid .
All the options types have been exported  in Bamboo. Closing.

[2022-10-18 01:20] #54 closed

[2022-10-20 21:54] jonathanolson opened #55 "Charts/graphs should be resizable"
This came up as being potentially desirable (and seemed like it could have helped a sim). Not currently needed but could be very helpful.

[2022-10-21 14:00] veillette commented on #55
@jonathanolson, I am not sure what you are proposing, but to give you some context, I am currently using Bamboo in calculus Grapher. So far it has worked remarkably well.

When zooming and or changing the (view) vertical height of the graph,  you merely update the bamboo/chartTransform and the graph updates itself.

See below for an example of its uses in calculusGrapher GraphNode.js

[code]

[2022-10-21 14:25] veillette commented on #55
I was curious about how it works. Here is how Bamboo/AxisLine knows how to update itself.

[code]

As long as one updates the Bamboo/chartTransform, all the other Bamboo classes will update themselves.